{% extends "base.html" %}
{% block content %}

{%if session['id']%}

	{%with messages=get_flashed_messages()%}
	{%if messages %}
	<ul>
		{%for message in messages%}
		{%if message=='Contraseña antigua es incorrecta' %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <li>{{message}}</li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
		{%else%}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <li>{{message}}</li>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
		{%endif%}
		{%endfor%}
	</ul>
	{%endif%}
	{%endwith%}

<form class="card-body" action="/change_password" method="POST">
    <div class="card">
        <div class="card-body">
            <div class="card text-center">

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon3">Ingresar Contraseña Antigua</span>
                  <input type="password" class="form-control" name="previous" id="previous" required aria-describedby="basic-addon3">
                </div>
                <br>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Ingresar Nueva Contraseña</span>
                    <input type="password" class="form-control" name="new" id="new" required aria-describedby="basic-addon3" minlength="8">
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center">
        <div class="d-grid gap-2 col-1 mx-auto">
            <input class="btn btn-primary" type="submit" value="Guardar">
        </div>
    </div>
</form>
{%else%}
	<div class="card">
		<div class="card-body">
			<div class="card text-center">
				<nav style="background:midnightblue">
					<h1 class="card-title-center text-white">No tiene acceso a esta pagina</h1>
				</nav>
			</div>
			<br>
		</div>
	</div>

{%endif%}

{% endblock %}