{% extends "base.html" %}
{% block content %}

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=94461d89946ef749b7a43d14685c725d1">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href=" https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">

	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=0c32e5cdbe9b575086edb0b907646184"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


$(document).ready(function() {
    var table = $('#example').DataTable( {
        "scrollX": true
    } );

    new $.fn.dataTable.FixedHeader( table );
} );
$(document).ready(function() {
    var table = $('#example1').DataTable( {
        "scrollX": true
    } );

    new $.fn.dataTable.FixedHeader( table );
} );

	</script>
</head>
{%if session['id']%}
    {% if session['type'] in ['O','L','A']%}
    <form class="card-body" action="{{ url_for('visits_report') }}" method="GET">
        <div class="card text-center">
            <div class="row justify-content-center">
                <div class="col-sm-5 justify-content-start">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-primary " type="button" href="{{ url_for('add_lesse') }}">AGREGAR ARRENDATARIO</a>
                    </div>
                    <div class="alert alert-warning fade show" role="alert">
                        <li>Al agregar un nuevo arrendatario se eliminara el existente</li>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </form>

    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card-header bi-text-left" style="background-color: #E6E5E4; color: midnightblue;"><h4>ARRENDATARIOS ACTIVOS</h4></div>
            <table id="example1" class="table table-hover table-bordered" style="width:100%">
                <thead>
                    <tr class="text-center" style="background-color: #F0F0F0; color: midnightblue;">
                        <th scope="col">#Casa</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Fecha de Entrada</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>

                    </tr>
                </thead>
                    <tbody>
                        {% if not busqueda%}
                        <tr>
                            <th scope="col">SIN REGISTRO</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        {% endif %}
                        {% for b in busqueda%}
                            <tr class="text-center">
                                <form action="/lesse_report"method="POST">
                                <td>{{b[5]}}</td>
                                <td>{{b[1]}}</td>
                                <td>{{b[2]}}</td>
                                <td>{{b[3]}}</td>
                                <td>{{b[4]}}</td>
                                <input id="idin" name="idin" type="hidden" value={{b[0]}}>
                                <input id="entry" name="entry" type="hidden" value={{b[4]}}>
                                <input id="delci" name="delci" type="hidden" value={{b[1]}}>
                                <input id="delHo" name="delHo" type="hidden" value={{b[6]}}>

                                <td>
                                    <div class="my-auto mx-auto">
                                        <a href="/update_lesse" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modaledit{{b[0]}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="midnightblue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                        </a>
                                    </div>
                                </td>


                                <td>
                                    <form action="{{ url_for('lesse_report') }}" method="POST">
                                        <div class="my-auto mx-auto">
                                            <button type="submit" class="btn btn-outline-light" onclick="return confirm('Seguro quieres borrar?')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="midnightblue" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </form>
                            </tr>
                            <div id="modaledit{{b[0]}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Editar Informacion</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{url_for('update_lesse')}}" method="POST">
                                            <div class="form-group">
                                                <label>Cédula:</label>
                                                <input type="hidden"  name="lesse_id" value="{{b[0]}}">
                                                <input type="hidden"  name="ciupdate" value="{{b[1]}}">
                                                <input type="text" class="form-control" pattern="[0-9]{10}" name="lesse_ci"  id="lesse_ci" value="{{b[1]}}" maxlength="10">
                                            </div>



                                            <div class="form-group">
                                                <label>Nombre:</label>
                                                <input type="text" class="form-control" name="lesse_name" value="{{b[2]}}">
                                            </div>


                                            <div class="form-group">
                                                <label>Teléfono:</label>
                                                <input type="text" pattern="[0-9]{10}" class="form-control" name="lesse_phone" value="{{b[3]}}" maxlength="10">
                                            </div>


                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Actualizar</button>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card-header bi-text-left" style="background-color: #E6E5E4; color: midnightblue;"><h4>ARRENDATARIOS ANTIGUOS</h4></div>
        <table id="example" class="table table-hover table-bordered" style="width:100%">
                <thead>
                    <tr class="text-center" style="background-color: #F0F0F0; color: midnightblue;">
                        <th scope="col">#Casa</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Fecha de Entrada</th>
                        <th scope="col">Fecha de Salida</th>

                    </tr>
                </thead>
                <tbody>
                    {% if not busquedaE%}
                    <tr>
                        <th scope="col">SIN REGISTRO</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    {% endif %}
                    {% for b in busquedaE%}
                        <tr>
                            <td>{{b[5]}}</td>
                            <td>{{b[1]}}</td>
                            <td>{{b[2]}}</td>
                            <td>{{b[3]}}</td>
                            <td>{{b[4]}}</td>
                            <td>{{b[6]}}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card text-center">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <a class="btn btn-outline-primary" type="button" href="{{ url_for('admin_profile') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="midnightblue" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    </div>
    {%else%}
        <div class="card">
            <div class="card-body">
                <div class="card text-center">
                    <nav style="background:midnightblue">
                        <h1 class="card-title-center text-white">No tiene acceso a esta pagina</h1>
                    </nav>
                </div>
                <br>
            </div>
        </div>
    {% endif %}
{%else%}
<div class="card">
    <div class="card-body">
        <div class="card text-center">
            <nav style="background:midnightblue">
                <h1 class="card-title-center text-white">No tiene acceso a esta pagina, debe iniciar sesion</h1>
            </nav>
        </div>
        <br>
    </div>
</div>
{% endif %}
{% endblock %}


