{% extends "base.html" %}
{% block content %}
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - HTML (DOM) sourced data</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=94461d89946ef749b7a43d14685c725d1">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href=" https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js">

	<style type="text/css" class="init">

	</style>
	<script type="text/javascript" src="/media/js/site.js?_=0c32e5cdbe9b575086edb0b907646184"></script>
	<script type="text/javascript" src="/media/js/dynamic.php?comments-page=examples%2Fdata_sources%2Fdom.html" async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>
	<script type="text/javascript" class="init">


$(document).ready(function() {
    var table = $('#example').DataTable( {
        "scrollX": true
    } );

    new $.fn.dataTable.FixedHeader( table );
} );
$(document).ready(function() {
    var table = $('#example1').DataTable( {
        "scrollX": true
    } );

    new $.fn.dataTable.FixedHeader( table );
} );

	</script>
</head>
{%if session['id']%}

{% if session['type'] in ['O','L','A','G']%}
{%with messages=get_flashed_messages()%}
{%if messages %}
<ul>
	{%for message in messages%}
	{%if message=='Registro Duplicado sin guardar' %}
	<div class="alert alert-danger alert-dismissible fade show">
		<li>{{message}}</li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{%else%}
	<div class="alert alert-success alert-dismissible fade show">
		<li>{{message}}</li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{%endif%}
	{%endfor%}
</ul>
{%endif%}
{%endwith%}
<form class="card-body" action="{{ url_for('house_report') }}" method="POST">
<div class="shadow p-3 mb-5 bg-black text-center-white rounded">
<h1 class="text-center">REPORTE DE CASAS</h1>
<br>
<div class="card text-center">
    <div class="row justify-content-center">
        <div class="col-sm-5 justify-content-start">
            <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary " type="button" href="{{ url_for('add_house') }}">AGREGAR CASA</a>
            </div>
        </div>
    </div>
</div>
<br>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <table id="example1" class="table table-hover table-bordered" style="width: 100%;">
        <thead>
            <tr class="text-center" style="background-color: #F0F0F0; color: midnightblue;">
                <th scope="col">Numero de Casa</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Propietario</th>
                <th scope="col">Arrendatario</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
            <tbody>
                {% if not filteredAnswer%}
                <tr>
                    <th scope="col">No hay registro</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                {% endif %}
                {% for b in filteredAnswer%}
                    <tr>
                        <form action="/schedule_report"method="POST">
                        <td>{{b.house_number}}</td>
                        <td>{{b.house_description}}</td>
                        <td>{{b.owner_ci}}-{{owners[b.owner_ci]}}</td>
                        <td>{{b.lesse_ci}}-{{lesses[b.lesse_ci]}}</td>

                        <input id="idin" name="idin" type="hidden" value={{b[0]}}>

                        <td>
                            <div class="d-grid mx-auto my-auto">
                                <a href="/update_schedule" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modaledit{{b.house_id}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="midnightblue" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                            </div>
                        </td>


                        </form>
                    </tr>
                    <div id="modaledit{{b.house_id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Editar Informacion</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update_house')}}" method="POST">
                                    <div class="form-group">
                                        <label>Número de Casa:</label>
                                        <input type="hidden"  name="house_id" value="{{b.house_id}}">
                                        <input type="text" class="form-control" name="house_number"  id="house_number" value="{{b.house_number}}">
                                    </div>



                                    <div class="form-group">
                                        <label>Descripcion:</label>
                                        <div class="input-group-lg">
                                        <input type="text" class="form-control" name="house_description" value="{{b.house_description}}">
                                    </div>
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Actualizar</button>
                                    </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>


                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

    <div class="row justify-content-center">
        <div class="col-sm-1">
            <div class="card text-center bg-transparent">
                <a class="btn btn-outline-light" type="button" href="{{ url_for('admin_profile') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="midnightblue" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

</div>
{%else%}
	<div class="card">
		<div class="card-body">
			<div class="card text-center">
				<nav style="background:midnightblue">
					<h1 class="card-title-center text-white">No tiene acceso a esta pagina</h1>
				</nav>
			</div>
			<br>
		</div>
	</div>
{% endif %}
{%else%}
<div class="card">
	<div class="card-body">
		<div class="card text-center">
			<nav style="background:midnightblue">
				<h1 class="card-title-center text-white">No tiene acceso a esta pagina, debe iniciar sesion</h1>
			</nav>
		</div>
		<br>
	</div>
</div>
{% endif %}

{% endblock %}


